body
{
    padding: 0 !important;
    margin: 0 !important;
    background-color: #2a2a2e;
    color: white;
    overflow: hidden !important;
}

canvas 
{
    width: 100vw;
    height: 100vh;
    z-index: 10;
}